<div class="myContainer">
<div class="container">
  <h3>Enter New Info</h3>

  <!-- Input New Business Card -->
  <form role="form">
    <div class="row">
      <div class="input">
        <input type="text" ng-model="bizcard.name" placeholder="Full Name" class="form-control">
        <input type="text" ng-model="bizcard.company" placeholder="Company Name" class="form-control">
        <input type="text" ng-model="bizcard.email" placeholder="Email" class="form-control">
        <input type="text" ng-model="bizcard.other" placeholder="Additional Info" class="form-control">
        <!-- Save button -->
        <button class="btn btn-info" ng-click="addBizcard()" aria-label="Add">Save</button>
      </div>
    </div>
    <br>

  <!-- List All Business Cards $index*-1 to list from recent to oldest -->
  <div ui-sortable ng-model="bizcards" ng-init="editable=1">
    <p class="input-group form-control" ng-repeat="bizcard in bizcards | orderBy:'$index*-1' " style=" padding:5px 10px; cursor: move;">
      <input type="text" ng-readonly="editable" ng-model="bizcard.name" placeholder="Full Name" class="form-control">
      <input type="text" ng-readonly="editable" ng-model="bizcard.company" placeholder="Company Name" class="form-control">
      <input type="text" ng-readonly="editable" ng-model="bizcard.email" placeholder="Email" class="form-control">
      <input type="text" ng-readonly="editable" ng-model="bizcard.other" placeholder="No Additional Info" class="form-control">
    </p>
  </div>
</div>
</div>